<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <form action="{% url 'login' %}" method="POST">
        <h3>Login</h3>

        {% csrf_token %}

        <div class="divider">
          <div class="div-container">
            <div class="field">Username</div>
            <div class="field">Password</div>
          </div>

          <div class="div-container">
            <div class="field">
              <input type="text" placeholder="Username" name="username" />
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="field">
              <p>
                Do you have an account ?
                <a href="{% url 'signup' %}">Create an account</a>
              </p>
              <p>
                Forgot ypur password ?
                <a href="{% url 'reset_password' %}">Reset your password</a>
              </p>
            </div>

            <div>
              <input type="submit" name="Create User" value="Login" />
            </div>
            {% for message in messages %}
            <p id="messages">{{ message }}</p>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
